@model MvcKutuphane.Models.Entity.TBL_MESAJLAR
@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Yeni Mesaj</h2>

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Alıcı Mail</label>
        @Html.TextBoxFor(s => s.Alici, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Konu</label>
        @Html.TextBoxFor(s => s.Konu, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>İçerik</label>
        @Html.TextAreaFor(s => s.İcerik, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Gönder</button>
    </div>
</form>

