@model MvcKutuphane.Models.Entity.TBL_PERSONEL
@{
    ViewBag.Title = "CreateStaff";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-top:15px;">
        <label>Personel Adı</label>
        @Html.TextBoxFor(s=>s.Personel, new {@class="form-control"})
        @Html.ValidationMessageFor(s=>s.Personel, "", new {@style="color:Red"})
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-info" id="Btn1">Personel Ekle</button>
    </div>
</form>
